/* Question 1: Why is the counter value not centered? (vertically) */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.app {
  text-align: center;
}

#counter-value {
  font-size: 48px;
  /* Question 2: Why is the color not applying to the counter value? */
  text-emphasis-color: #FF6347;
}
